:root{
    --color-primary: #9EAD8D;      /* Verde */
    --color-secondary: #E6C8C8;    /* Rosa  */
    --color-background: #F8F4EE;   /* Crema */
    --color-background2: #E8DCC8;  /* Beige */
    --color-text: #433932;         /* Marrón oscuro */
}

.navbar {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 10px 20px;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);    
    font-size: 1.8rem;    

}

.navbar img {
    width: 100px;
    height: auto;
}





footer {
        display: flex; 
        justify-content: space-between; 
        align-items: flex-end; 
        background-color: var(--color-background2);
        padding: 10px 20px;
        color: var(--color-text);
        font-family: playfair display, serif;
}

footer ul {
    display: flex;
    gap: 30px;
    list-style:circle
}

footer a {
    text-decoration: none;
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);    
    font-size: 1.8rem;
}

h1 {
        justify-content: center;
        align-items: center;
}


p {
    font-family: playfair display, serif;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster Two", cursive;
    color: var(--color-text);
}

