:root{
    --color-primary: #9EAD8D;      /* Verde */
    --color-secondary: #E6C8C8;    /* Rosa  */
    --color-background: #F8F4EE;   /* Crema */
    --color-background2: #E8DCC8;  /* Beige */
    --color-text: #503a3a;         /* Marrón oscuro */
}

.navbar {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 

        padding: 8px 25px;
        border-bottom: 8px solid var(--color-primary);
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);    
    font-size: 1.4rem;    
    cursor:pointer;
    transition:.3s;

}

.navbar a:hover {
    background:var(--color-background2);
    border-radius: 8px;
}

.titulo-logo {
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
}

.navbar img {
    width: 70px;
    height: auto;
}

main {
    flex: 1; /* Esto hace que el main ocupe todo el espacio disponible */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}



footer {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        background-color: var(--color-background);
        padding: 15px 30px;
        color: var(--color-text);
        font-family: playfair display, serif;
        border-top: 8px solid var(--color-primary);
}

footer ul {
    display: flex;
    gap: 30px;
    list-style:circle
}

footer a {
    text-decoration: none;
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);    
    font-size: 1.2rem;
    cursor:pointer;
    transition:.3s;
}

footer a:hover {
    background:var(--color-background2);
    border-radius: 8px;
}

p {
    font-family: playfair display, serif;
    color: var(--color-text);
}
.tit-principal {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster Two", cursive;
    color: var(--color-text);
}

