:root{
    --color-primary: #A8B39C;      /* Verde */
    --color-secondary: #EBC8C8;    /* Rosa  */
    --color-background: #F7F3EE;   /* Crema */
    --color-background2: #EFE6D8;  /* Beige */
    --color-text: #4B443F;         /* Marrón oscuro */
}


.hero {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color-background);
}

.hero h1 {
    background-color: aqua;

}

.hero p {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-size: 1.5rem;
   
   flex-direction: column;
   color: var(--color-text)
}

.hero-image {
    height: 1px;
     
}


.hero a {
    display: flex;
    align-items: end;
}
body{
    
    background-color: var(--color-background); 
}

