.hero {
    justify-content: flex-start;
    background-color: var(--color-background2);
    padding: 40px 25px;
}

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 25px;
    background-color: var(--color-background);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

/* TITULOS DEL HERO */
.hero h1 {
    text-align: center;
    font-size: 4rem;

}
.hero h2 {
    width: fit-content;
    display: inline-block;
    margin: 20px auto;
    padding: 10px 35px;
    font-size: 1.6rem;
    border-radius: 30px;
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
    
}
.subt-principal{
     display: flex;
    justify-content: center;

}

/* BOTON DEL HERO */

.boton-hero {

    align-self: center;
    margin-top: 20px;
    background-color: var(--color-primary);
    padding: 15px 35px;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.9s ease, color 0.9s ease;
}
.boton-hero:hover {
    background-color: var(--color-secondary);
    transform: translateY(-3px);
    box-shadow: #9EAD8D 0px 10px 20px rgba(0, 0, 0, 0.2);
    color: var(--color-text);
}


.hero p {
    background-color: var(--color-background);
    font-size: 3rem;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero-image {
   width: 80%;
   max-width: 1200px;
   border-radius: 20px;
   object-fit: cover;
    box-shadow:0px 10px 25px rgba(0,0,0,.08);
     
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
   
}

/*SECCION GALERIA */

.galeria{
    padding:60px 20px;
    text-align:center;
}

.galeria h2{
    font-size:2.8rem;
    margin-bottom:40px;
}

.galeria-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.galeria-grid img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.galeria-grid img:hover{
    transform:scale(1.05);
}
